p {
	color: cadetblue;
	text-align: right;
	background-color: rgb(97, 67, 89045625369);
}
h1 {
	color: coral;
	text-align: center;
	background-color: violet;
}
h2 {
	color: coral;
	text-align: center;
	background-color: violet;
}
h3 {
	color: coral;
	text-align: center;
	background-color: violet;
}
h4 {
	color: coral;
	text-align: center;
	background-color: violet;
}
h5 {
	color: coral;
	text-align: center;
	background-color: violet;
}
h6 {
	color: coral;
	text-align: center;
	background-color: violet;
}